body {
    margin: 0;
}

.first-section {
    background-color: #1F2937;
    padding-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 350px;
    margin-right: 350px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right: 350px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-second-header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main, .hero-second-header-link {
    margin-bottom: 15px;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.left {
    width: 500px;
}

.second-section{
    padding-top: 50px;
    padding-bottom: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    font-size: 18px;
}

.info-cat {
    border-radius: 10px;
    border: 2px solid #3882f6;
}

.third-section {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 100px 400px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.thor {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 60px 125px;
    margin: 100px;
    width: 1000px;
}

.action-text-1-container {
    display: flex;
    flex-direction: column;
}

.action-text-1 {
    color: white;
    font-size: 30px;
}

.action-text-2 {
    color: white;
    font-size: 20px;
}

button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2937;
    padding: 40px;
    font-size: 20px;
}